

@mixin button($color: green) {
  height: 24px;
  min-width: 24px;
  padding: 3px;
  text-align: center;
  position: relative;
  display: inline-block;
  color: rgba(0, 0, 0, .7);
  & > span {
    font-size: 18px;
  }
  &:active, &.active {
    color: $color;
  }
  &:hover {
    background: #eee;
    cursor: pointer;
  }
}

@mixin list-clear( ) {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin resize($color) {
  position: absolute;
  opacity: 0;
  right: 0;
  bottom: 0;
  background: $color;
  z-index: 1000;
  &:hover{
    opacity: 1!important;
  }
}
